@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Marck+Script&family=Poppins:wght@300&display=swap");
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: linear-gradient(
    to right,
    #697888,
    #f9f7f2,
    #e3c299,
    #697888
  );
}

.wrapper {
  width: 100vw;
  height: 100vh;
  margin-top: 5rem;
  margin-left: 30%;
}
.container .content > h2 {
  text-align: center;
  font-size: 2vw;
  padding: 0;
  margin: 0;
  font-family: "Great Vibes", cursive;
  color: #b7895e;
  font-weight: bold;
  text-shadow: 5px 5px 0px #f4f0ed, 6px 6px 0px#e3c299, 7px 7px 0px#f4f0ed,
    8px 8px 0px#e3c299, 9px 9px 0px#f4f0ed;
  visibility: visible;
  transition: all 0.5s linear 0.3s;
}
.content {
  position: absolute;
  z-index: 999;
  left: 5%;
  top: 1%;
}
.container {
  margin: 0 auto;
  position: relative;
}
#main-page {
  width: 20vw;
  height: 44vh;
  position: absolute;
  z-index: 2;
  background-image: linear-gradient(#f9f7f2, #fcca6f, #fd5d5b, #dd2255);
  box-shadow: -5px 5px 5px 10px #dd2255, -5px 6px 5px 10px #fcca6f,
    -5px 7px 5px 10px #f9f7f2, 5px 8px 5px 10px #dd2255,
    5px 9px 5px 10px #fcca6f, 5px 0px 5px 10px #f9f7f2;
}

#inner-image {
  width: 22vw;
  height: 48vh;
  position: absolute;
  z-index: 1;
  background-color: #ed3038;
}

#cover, #card {
  position: absolute;
  left: 0%;
  width: 100%;
  height: 100%;
}

.border {
  border: 4px solid #f9f7f2;
}
.txt-center {
  text-align: center;
}
.position {
  padding: 2rem;
}

.container figure#main-page {
  transform: scaleX(1);
  transform-origin: left;
  transition: all 1s linear;
}

.container:hover .content > h2 {
  visibility: hidden;
  color: transparent;
  text-shadow: none;
  opacity: 0;
}
