@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Marck+Script&family=Poppins:wght@300&display=swap");
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: linear-gradient(
    to right,
    #697888,
    #f9f7f2,
    #e3c299,
    #697888
  );
}
.snow-area {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1000;
  pointer-events: none;
}
.wrapper {
  margin-top: 10%;
  margin-left: 35%;
}
.container .content > h2 {
  text-align: center;
  font-size: 4vw;
  padding: 0;
  margin: 0;
  font-family: "Great Vibes", cursive;
  color: #b7895e;
  font-weight: bolder;
  text-shadow: 3px 4px 0px #f4f0ed, 4px 5px 0px#e3c299, 5px 6px 0px#e3c299,
    6px 7px 0px#b7895e, 7px 8px 0px#f4f0ed;
  visibility: visible;
  transition: all 0.5s linear 0.3s;
}
.content {
  position: absolute;
  z-index: 999;
  left: 10%;
  top: 4%;
}
.container {
  margin: 0 auto;
  position: relative;
}
#main-page {
  width: 28vw;
  height: 64vh;
  position: absolute;
  z-index: 2;
  background-image: linear-gradient(#f9f7f2, #fcca6f, #fd5d5b, #dd2255);
  box-shadow: -2px 2px 5px 0px #dd2255, -3px 2px 5px 0px #dd2255,
    -4px 3px 5px 0px #f9f7f2, 5px 4px 5px 0px #dd2255, 6px 5px 5px 0px #dd2255;
}

#inner-image {
  width: 35vw;
  height: 76vh;
  position: absolute;
  z-index: 1;
  background-color: #ed3038;
}

#cover,
#card {
  position: absolute;
  top: 10%;
  left: 6%;
  width: 90%;
  height: 90%;
}

.border {
  border: 4px solid white;
}
.txt-center {
  text-align: center;
}
.position {
  padding: 2rem;
}

.container figure#main-page {
  transform: scaleX(1);
  transform-origin: left;
  transition: all 1s linear;
}

.container:hover figure#main-page {
  transform: scaleX(-1);
}

.container:hover .content > h2 {
  visibility: hidden;
  color: transparent;
  text-shadow: none;
  opacity: 0;
}

@media screen and (min-width: 320px) {
  .wrapper {
    margin-left: 15%;
  }
  .container .content > h2 {
    font-size: 8vw;
  }

  #main-page {
    width: 39vw;
    height: 40vh;
  }
  #inner-image {
    width: 55vw;
    height: 52vh;
  }
}

@media screen and (min-width: 768px) {
  .wrapper {
    margin-left: 25%;
  }
  .container .content > h2 {
    font-size: 4vw;
  }

  #main-page {
    width: 27vw;
    height: 64vh;
  }
  #inner-image {
    width: 36vw;
    height: 76vh;
  }
}

@media screen and (min-width: 1024px) {
  .wrapper {
    margin-left: 30%;
  }
  #main-page {
    width: 28vw;
    height: 64vh;
  }
  #inner-image {
    width: 34vw;
    height: 76vh;
  }
}

@media screen and (min-width: 1440px) {
  .wrapper {
    margin-left: 30%;
  }
  #main-page {
    width: 30vw;
    height: 68vh;
  }
}
@media screen and (min-width: 2560px) {
  .wrapper {
    margin-left: 30%;
  }
  #main-page {
    width: 33vw;
    height: 73vh;
  }
  .content {
    left: 6%;
  }
}
